.bootom-bar {
    width: 100%;
    height: 50px;
    background-color: inherit;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
    bottom: 0;
    border-top: 1px solid #e1e4e8;
    z-index: 500;
  }
  
  .bar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .bar-item:hover {
    color: #322257f5;
  }

  .bar-link {
    text-decoration: none;
    color: inherit; 
  }
  